---
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>RentyCars | Coming Soon</title>
    </head>
    <body style="background: #070b14; color: white; text-align: center; padding-top: 100px; font-family: sans-serif;">
        <img src="/rentycars-logo.png" alt="RentyCars Logo" style="height: 80px;" />
        <h1>RentyCars.ca is Coming Soon</h1>
    </body>
</html>